/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* For remove blue color outline when user push any button */

*:focus {
    outline: none !important;
    border: 0 !important;
}


/* For remove blue color outline when user push any button -end*/

.nav-button-row button,
.nav-button-row a {
    margin-right: 8px;
}

.rightEndButton {
    position: fixed;
    right: 50px;
    bottom: 50px;
}

.rightEndButton2nd {
    position: fixed;
    right: 120px;
    bottom: 50px;
}